@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sandbox {
  &__render {

  }
  &__container {
    margin-top: 20px;
    border-style: solid;
    width: 100%;
    height: 600px;
  }
}

@media (min-width: 600px) {
  .sandbox {
    &__render {

    }
    &__container {
      margin-top: 20px;
      border-style: solid;
      width: 100%;
      height: 600px;
    }
  }
}
